<%= render "shared/page_title", title: "Showing All Recipes " %>

<div class="paginate_center">
  <%= will_paginate %>
</div>

<%= render "recipe", obj: @recipes %>

<div class="paginate_center">
  <%= will_paginate %>
</div>
