<%= render 'shared/page_title', title: "Chefchat" %>

<div class="row chat-container">
    <div class="col-md-8 center-block">
        <div class="messages" id="messages">
            hello
        </div>
    </div>

    <div class="message=container">
    </div>
</div>