<div class= "jumbotron center jumbo-top">
  <h1>Welcome to The Budding Chef</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up or log in", "#", class: "btn btn-danger btn-lg"%></p>
</div>
