$navbar: black;

@import 'bootstrap/dist/css/bootstrap';

.center{
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.navbar-custom {
    background-color: lightgreen;
}

.jumbotron{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  background-image: url(kfc.jpg);
  background-size: cover;
  color: white;
}
